
.navy-gradient {
  /* Navy blue gradient */
  background: #0f2027;  /* fallback */
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .navy-gradient {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}